{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "helpers": false, "regenerator": true }],
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "sourceMaps": "both"
}
